

*{
width: 100%;
font-family: sans-serif
}

.logo, .cover, .main_heading, .submit, .or{
text-align: center;
}

body{
margin: 0%;
}

header, main{
padding: 0%;
}

main{
background-color: rgba(168, 164, 164, 0.26);
top: 0%;
left: 0%;
padding-bottom: 30px;
}

/*header*/
 .cover img{
width: 7rem;
text-align: center;
}
.cover{
box-shadow: rgba(168, 164, 164, 0.26);
}

.main_heading{
padding-top: 1rem;
font-weight: bolder;
}

.container{
background-color: rgb(255, 255, 255);
padding:40px;
margin: 0 auto 40px;
width: 450px;
box-sizing: unset;
border: 1px solid #e0e0e0;
position: relative;
}
 .buttons{
 display: flex;
 flex-direction: column;
 
 }
 .btn{
 padding: 0.7rem;
border: none;
font-weight: bolder;
font-size: medium;
width: 100%;
opacity: 80%;
 }
 .a{
 background-color:rgba(168, 164, 164, 0.26) ;
 color: black;
 }
 .b{
 background-color: rgb(0, 0, 255);
 color: white;
 }
 .c{
 background-color: rgb(0, 0, 0);
color: white;
 }

 .area .h3{
 text-align: unset;
 }
 .area {
 padding-bottom: 4rem;

 }
.spanacross h3, .or{
padding-top: 1.5rem;
}

 .inputarea{
padding: 1rem;
}

.email{
width: 95%;
}

.inputarea{
border: 1px solid #e0e0e0;
}

.inputarea:active{
border: 0.7px solid rgb(255, 100, 0);
}

.submit{
padding-bottom: 3rem;
}

.continue{
background-color: rgba(168, 164, 164, 0.36);
color: white;
width: 30%;
border-radius: 5rem;
border: none;
height: 3rem;
cursor: not-allowed;
text-align: center;
}

.submit .continue{
border-radius: 70px;
font-size: large;
}

.spanacross{
padding: 0%;
}

.logo{
padding-top: 3rem;
}

.logoin img{
width: 30%;
}

.logomuch img{
width: 70%;
}

